.heroSecWrapper {
  overflow: hidden;
}

.heroSecWrapper>img {
  margin: -4rem 0 0 2rem;
  object-fit: fill;
}

.title {
  padding: 2rem;
  text-align: center;
}

.title>h1 {
  font-weight: 700;
  font-size: 2.7rem;
  color: var(--Very-Dark-Blue);
  margin-bottom: 1rem;
}

.title>p {
  color: var(--Grayish-Violet);
  margin-bottom: 1.5rem;
}

.getStartedBtn {
  padding: 0.8rem 1.5rem;
  border-radius: 1.6rem;
  background-color: var(--Cyan);
  color: white;
  border: none;
  font-size: 1.5rem;
}

.getStartedBtn:hover {
  background-color: rgb(144, 248, 248);
  cursor: pointer;
}

@media only screen and (min-width: 426px) {
  .heroSecWrapper {
    min-height: 80vh;
    padding-left: 4rem;
  }

  .title {
    order: 1;
    text-align: left;
    padding-left: 0;
  }

  .img-container{
    width: 50%;
    order: 2;
  }
}

@media only screen and (min-width: 1024px) {
  .heroSecWrapper {
    padding-left: 8rem;
  }
}