@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {
  /* Primary */
  --Cyan: hsl(180, 66%, 49%);
  --Dark-Violet: hsl(257, 27%, 26%);

  /* Secondary */

  --Red: hsl(0, 87%, 67%);

  /* Neutral */

  --Gray: hsl(0, 0%, 75%);
  --Grayish-Violet: hsl(257, 7%, 63%);
  --Very-Dark-Blue: hsl(255, 11%, 22%);
  --Very-Dark-Violet: hsl(260, 8%, 14%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* padding: 1rem 5rem; */
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

@media only screen and (max-width: 725px) {
  body {
    /* padding: 1rem; */
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li{
  list-style: none;
  margin-bottom: 1rem;
}

li:hover{
  text-decoration: underline;
  cursor: pointer;
}

a{
  text-decoration: none;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-dir-row {
  flex-direction: row;
}

.flex-dir-col {
  flex-direction: column;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-c {
  justify-content: center;
}

.grid-pi-c {
  display: grid;
  place-items: center;
}

button{ 
  border-radius: 1rem;
  border: none;
  background-color: transparent;
}

button:hover{

}

.btn-med{
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
}

.btn-med:hover{
  cursor: pointer;
  background-color: var(--Cyan);
}